Start:
<input [(ngModel)]="searchStart" [owlDateTime]="startDatePicker" [owlDateTimeTrigger]="startDatePicker" />
<owl-date-time #startDatePicker></owl-date-time>

End:
<input [(ngModel)]="searchEnd" [owlDateTime]="endDatePicker" [owlDateTimeTrigger]="endDatePicker" />
<owl-date-time #endDatePicker></owl-date-time>


<button (click)="search()">Search</button>
<button (click)="clear()" *ngIf="trips">Clear</button>
<div class="results" *ngIf="trips?.length">
  Total: {{total}}
  <a *ngFor="let trip of trips"
  routerLink="/tripdetails/{{trip.id}}">
   <div><h4>Captain: {{trip.customerName}}</h4></div>
  </a>
</div>
